Inovix/Service References/APT/APTService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="APTService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50731/APTService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50731/APTService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50731/APTService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Inovix.Data" />
      <xsd:import schemaLocation="http://localhost:50731/APTService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Inovix.Data.Portability" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAPTService_SolicitarBilhetePortabilidade_InputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarBilhetePortabilidade" />
  </wsdl:message>
  <wsdl:message name="IAPTService_SolicitarBilhetePortabilidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolicitarBilhetePortabilidadeResponse" />
  </wsdl:message>
  <wsdl:message name="IAPTService_ObterRespostaAnatel_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterRespostaAnatel" />
  </wsdl:message>
  <wsdl:message name="IAPTService_ObterRespostaAnatel_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterRespostaAnatelResponse" />
  </wsdl:message>
  <wsdl:portType name="IAPTService">
    <wsdl:operation name="SolicitarBilhetePortabilidade">
      <wsdl:input wsaw:Action="http://tempuri.org/IAPTService/SolicitarBilhetePortabilidade" message="tns:IAPTService_SolicitarBilhetePortabilidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAPTService/SolicitarBilhetePortabilidadeResponse" message="tns:IAPTService_SolicitarBilhetePortabilidade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterRespostaAnatel">
      <wsdl:input wsaw:Action="http://tempuri.org/IAPTService/ObterRespostaAnatel" message="tns:IAPTService_ObterRespostaAnatel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAPTService/ObterRespostaAnatelResponse" message="tns:IAPTService_ObterRespostaAnatel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAPTService" type="tns:IAPTService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolicitarBilhetePortabilidade">
      <soap:operation soapAction="http://tempuri.org/IAPTService/SolicitarBilhetePortabilidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterRespostaAnatel">
      <soap:operation soapAction="http://tempuri.org/IAPTService/ObterRespostaAnatel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APTService">
    <wsdl:port name="BasicHttpBinding_IAPTService" binding="tns:BasicHttpBinding_IAPTService">
      <soap:address location="http://localhost:50731/APTService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>