Inovix/Service References/APT/APTService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50731/APTService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Inovix.Data" />
  <xs:import schemaLocation="http://localhost:50731/APTService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Inovix.Data.Portability" />
  <xs:element name="SolicitarBilhetePortabilidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Inovix.Data" minOccurs="0" name="customer" nillable="true" type="q1:Customer" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Inovix.Data" minOccurs="0" name="account" nillable="true" type="q2:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarBilhetePortabilidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Inovix.Data.Portability" minOccurs="0" name="SolicitarBilhetePortabilidadeResult" nillable="true" type="q3:PortabilityTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>